@model Class.ATM.ATM
@{
    ViewData["Title"] = "Home Page";
}


<script language="JavaScript">

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        let charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
            evt.preventDefault();
        } else {
            return true;
        }
    }
</script>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="form-group py-sm-3 mb-0 pt-5 rounded bg-light">
        <div class="row">
            <div class="col">
                <h1 class="text-center">ATM</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto m-2"></div>
            <div class="col m-2"><h4 class="text-center">Номинал</h4></div>
            <div class="col m-2"><h4 class="text-center">Количество купюр</h4></div>
            <div class="col m-2"><h4 class="text-center">Работает ли кассета</h4></div>
        </div>
        @{
            int i = 0;
        }
        @if (Model?.Cassettes != null)
        {
            @foreach (var cassette in Model.Cassettes)
            {
                <div class="row mb-2">
                    <label class="col-md-auto m-2 text-center col-form-label">Кассета @(i++):</label>
                    <div class="col m-2">
                        <select class="form-control" name="nomainal@(i)">
                            @foreach (var nomainal in Model.Cassettes.Select(n => n.NominalValue))
                            {
                                if (cassette.NominalValue == nomainal)
                                {
                                    <option selected value="@nomainal">@nomainal</option>
                                }
                                else
                                {
                                    <option value="@nomainal">@nomainal</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col m-2">
                        <input type="number" name="BanknoteCount@(i)" min="0" value="@cassette.BanknoteCount" oninput="validity.valid||(value='');" onpress="isNumber(event)" />
                    </div>
                    <div class="col m-2">
                        <select class="form-control" name="isWork@(i)">
                            @if (cassette.IsWork)
                            {
                                <option selected value="true">Работает</option>
                                <option value="false">Не работает</option>
                            }
                            else
                            {
                                <option value="true">Работает</option>
                                <option selected value="false">Не работает</option>
                            }
                        </select>
                    </div>
                </div>
            }
        }
    <div class="row d-flex justify-content-center m-2">
        <label class="col-md-auto m-2 text-center col-form-label">Количество денег для выдачи:</label>
        <input class="col" type="number" name="needMoney" min="0" value="0" oninput="validity.valid||(value='');" onpress="isNumber(event)" />
    </div>
        <div class="row d-flex justify-content-center m-2">
            <input type="submit" class="btn btn-primary text-center" value="Выдать деньги" />
        </div>
        @if (Model.MoneyOperations.Count() != 0 && Model.MoneyOperations.Last().IsSuccessOperation)
        {
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Деньги успешно выданы!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Время выполнения: @Model.MoneyOperations.Last().TimeForCalculateLastIssueMoney мс.</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col"></div>
                <div class="col">
                    <table class="table m-2">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Номинал</th>
                                <th scope="col">Количество купюр</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var nominalAndCount in Model.MoneyOperations.Last().AtmOutput)
                            {
                                <tr>
                                    <td>@nominalAndCount.Key</td>
                                    <td>@nominalAndCount.Value </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
        }
        else if (Model.MoneyOperations.Count() != 0 && Model.MoneyOperations.Last().IsSuccessOperation == false)
        {
            <div class="row d-flex justify-content-center">
                <h1 class="text-center">Невозможно выдать такую сумму!</h1>
            </div>
        }
    </div>
</form>
